@import 'reset.less';
@import 'vars.less';
@import 'common.less';
@import 'header.less';

.asidenav__navpoint-icon {
  width: 1em;
}

.generalcontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  &__mainblock {
    width: 75%;
  }
}

.slider {
  border: 1px solid @third-color2;
  margin-bottom: 32px;
  &__image {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

.selections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__item{
    border: 1px solid @third-color2;
    padding: 13px 10px;
    width: 32%;
  }
  &__headings {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__title_blue, &__title_azure, &__title_red {
    font-family: Verdana, serif;
    font-size: 30px;
    margin-left: 5px;
  }
  &__title_blue, &__icon_blue {
    color: @primary-color;
  }
  &__title_azure, &__icon_azure{
    color: @super-accent-color1;
  }
  &__title_red, &__icon_red {
    color: @add-color-red;
  }
  &__icon_blue, &__icon_azure, &__icon_red{
    height: 25px;
    width: 25px;
  }
}

.prodcards-container {
  &__heading {
    font-size: 22px;
    border-bottom: 1px solid @third-color2;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__cardblock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  & .productcard {
    border: 1px solid @medium-gray;
    width: 24.8%;
    padding: 10px;
    &__figure-block {
      margin: 0 auto;
    }
    &__link>img {
      max-width: 100%;
      display: block;
    }
    &__description> {
      margin: 10px 0;
    }
    &__description>a:hover {
      text-decoration: underline;
      color: @primary-color;
    }
    &__summary-block {
      font-size: 13px;
    }
   }
}



.asideblock {
  width: 23%;
  &__nav {
    border: 1px solid @medium-gray;
    min-height: 100px;
    overflow: auto;
  }
  &__navtitle {
    font-size: 1.25rem;
    padding: 15px 15px 15px 30px;
    color: @accent-text-color;
    background-color: @accent-color;
    align-items: center;
    font-family: Verdana, serif;
  }
  &__navpoint:not(:last-child) {
    border-bottom: 1px solid @medium-gray;
  }
  &__navpoint {
    background-color: @light-gray;
    padding: 1px 15px;
  }
}

.asidenav {
  &__navpoint{
    &-text {
      display: flex;
      align-items: center;
      padding: 13px;
      color: @accent-color;
      font-family: Verdana, serif;
    }
    &-icon {
      margin-right: 10px;
    }
  }
}