//COLORS
@primary-color: #182e53;
@secondary-color: #ff0000;
@accent-color: #ee6c48;
@third-color2: #d1d1d1;
@super-accent-color1: #44aae3;
@main-text-color: #292929;
@accent-text-color: #ffffff;
@add-color-gray: #474747;
@add-color-red: #a23003;
@light-gray: #f4f4f4;

//MEDIA BREAK-POINTS
